In [17]:
import pandas as pd
import numpy as np

0    0
1    1
2    2
dtype: int64

In [164]:
#Series
a=pd.Series([0,1,2])
a=pd.Series(np.arange(5))
print(a)
print(a.ndim)
print(a.size)
print(a.shape)
print(a.dtypes)
print(type(a))
#序列中有多少行数据
print(a.size)
print(a.index)
print(type(a.index))#<class 'pandas.core.indexes.range.RangeIndex'>
print(a.index.size)
print(a.count())#方法，不是属性
print(len(a))

0    0
1    1
2    2
3    3
4    4
dtype: int32
1
5
(5,)
int32
<class 'pandas.core.series.Series'>
5
RangeIndex(start=0, stop=5, step=1)
<class 'pandas.core.indexes.range.RangeIndex'>
5
5
5

In [257]:
a1=pd.DataFrame(a)
print(a1)
#二维数组转化为数据框
a1=np.arange(6).reshape(3,2)
a1=pd.DataFrame(a1,columns=['m','n'])
print(a1.shape[0])#返回元组类型
print(a1.size)

   0
0  0
1  1
2  2
3  3
4  4
3
6

In [258]:
a1_=(1,2,3)
print(type(a1_))
a1_[0]

<class 'tuple'>

1

In [259]:
#range
a2=pd.DataFrame(np.array(range(10)).reshape(2,5))#reshape是数组专有的方法
a2.shape[0]

2

In [262]:
#array
a3=pd.DataFrame(np.array([[0,1,2],
                        [3,4,5]]))
print(a3)
print(a3[1][0])

   0  1  2
0  0  1  2
1  3  4  5
1

0    2
1    2
2    2
dtype: int64

In [261]:
#Series的显式和隐式索引
a1.index=['a','b','c']
print(a1.loc['a'])#显式索引
print(a1.iloc[0])#隐式索引

m    0
n    1
Name: a, dtype: int32
m    0
n    1
Name: a, dtype: int32

In [48]:
#字典嵌套列表转化为数据框


dict1={'types':['m','q'],'data':[30,40]}
pd.DataFrame(dict1)

  types  data
0     m    30
1     q    40

In [269]:
#数据框的一列等于series
a3
a3[0].values

array([0, 3])

In [283]:
df2 = pd.read_excel('D:/Python/data1.xlsx',names=['xxx','yyy'], skiprows=0, dtype={0: str},
                    index_col=0)

In [284]:
#读取数据前两行
print(df2.head(2))
print(df2.head())

      yyy
xxx
4.2   8.4
5.9  11.7
      yyy
xxx
4.2   8.4
5.9  11.7
2.7   4.2
3.8   6.1
3.8   7.9

In [286]:
#查看数据框有多少行
print(df2.size)
print(df2.index.size)
print(len(df2)) 
print(type(df2.count()))#<class 'pandas.core.series.Series'>
print(df2.count()[0])
#打印第一列数据
#print(df2[0])报错
print(df2.iloc[:,0])
#df[0].count
# df.count
print(df2)
print(df2['yyy'].values)#实际的列名

19
19
19
<class 'pandas.core.series.Series'>
19
xxx
4.2     8.4
5.9    11.7
2.7     4.2
3.8     6.1
3.8     7.9
5.6    10.2
6.9    13.2
3.5     6.6
3.6     6.0
2.9     4.6
4.2     8.4
6.1    12.0
5.5    10.3
6.6    13.3
2.9     4.6
3.3     6.7
5.9    10.8
6.0    11.5
5.6     9.9
Name: yyy, dtype: float64
      yyy
xxx
4.2   8.4
5.9  11.7
2.7   4.2
3.8   6.1
3.8   7.9
5.6  10.2
6.9  13.2
3.5   6.6
3.6   6.0
2.9   4.6
4.2   8.4
6.1  12.0
5.5  10.3
6.6  13.3
2.9   4.6
3.3   6.7
5.9  10.8
6.0  11.5
5.6   9.9
[ 8.4 11.7  4.2  6.1  7.9 10.2 13.2  6.6  6.   4.6  8.4 12.  10.3 13.3
  4.6  6.7 10.8 11.5  9.9]

In [275]:
df2=pd.read_excel('D:/Python/data1.xlsx',sheet_name=0)

In [238]:
df2=pd.read_csv('D:/Python/person2.txt',names=['sno','sname','sex','sage','dept'],skiprows=1,sep=' ')
#df2=pd.read_csv('D:/Python/person2.txt',names=['sno','sname','sex','sage','dept'],skiprows=1)#缺少分隔符后，空格也被读入
print(df2)
#df2=pd.read_csv('D:/Python/person2.txt',skiprows=1)
df2.to_csv('D:/Python/df2_.txt',sep='\t',index=True)
df2.to_csv('D:/Python/df2__.txt',sep='\t',index=False)#默认为：index=False

     sno sname sex  sage dept
0  23001    王平   男    19  计算机
1  23002    张云   女    18  大数据
2  23003    刘武   男    20  统计系

In [239]:
df2=pd.read_json('D:/Python/person5.json',orient='split')

In [240]:
df3=pd.read_json('D:/Python/person6.json',orient='record')

In [243]:
print(df2)
print(df3)
#将数据框写入json文件
df2.to_json('D:/Python/a.json')

   index columns        data
0      1    name  [lily, 28]
1      2     age   [tom, 20]
   name  age  dept
0  lily   18  math
1   tom   19    ai

In [249]:
#
df1=pd.read_csv('D:/Python/person1.txt',encoding='gbk')

In [247]:
df1

     学号 姓名 性别 年龄
0  23001 王平 男 19
1  23002 张云 女 18
2  23001 刘武 男 20